.comment {
  /*future config*/
}

.comment__legend {
  color: @black;
  background-color: @white;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
}

.comment__text {
  /*future config*/
}
