.data {
  /*future config*/
  display: flex;
  flex-direction: column;
}

.data__name {
  color: @dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.data__name-field {
  /*future config*/
}

.data__weight {
  color: @dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.data__weight-field {
  /*future config*/
}

.data__age {
  color: @dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.data__age-field {
  /*future config*/
}
