.live-example {
  background-color: @background-grey;
  color: @dark-grey;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.live-example__wrapper {
  /*future config*/
}

.live-example__title {
  color: @black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.live-example__story {
  /*future config*/
}

.live-example__statistics {
  /*future config*/
}

.live-example__data {
  /*future config*/
}

.live-example__data-bold {
  color: @black;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.live-example__data-text {
  color: @dark-grey;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.live-example__result {
  color: @black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.live-example__cat-fat {
  /*future config*/
}

.live-example__cat-fat--active {
  /*future config*/
}

.live-example__cat-slim {
  /*future config*/
}

.live-example__pictures {
  color: @black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.live-example__switcher {
  /*future config*/
}
