.main-navigation {
  color: @black;
  background-color: @white;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  width: 280px;
  padding: 0 20px;

  @media (min-width: 768px) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    padding: 0 110px;
  }
}

.main-navigation__toggle {
  /*future config*/
}

.main-navigation__wrapper {
  /*future config*/
}

.main-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 708px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: flex-start;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    padding: 0 110px;
  }
}

.main-navigation__item {
  display: flex;
  align-items: center;
}

.main-navigation__item--active {
  /*future config*/
}

.main-navigation__link {
  text-decoration: none;
  color: @black;
}
