.main-navigation {
  color: @black;
  background-color: @white;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-navigation__toggle {
  /*Future config*/
}

.main-navigation__wrapper {
  /*Future config*/
}

.main-navigation__list {
  list-style-type: none;
}

.main-navigation__item {
  display: flex;
  align-items: center;
}

.main-navigation__item--active {
  /*Future config*/
}

.main-navigation__link {
  text-decoration: none;
  color: @black;
}
