.more{

}
.more__wrapper{

}
.more__title{
  color: @black;
  background-color: @white;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}
.more__list{
  list-style-type: none;
}
.more__item{

}
.more__name{
  color: @black-special;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.more__parameters{

}
.more__describtion{
  color: @dark-grey;
  background-color: @white;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.more__price{
  color: @dark-grey;
  background-color: @white;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.more__link{
  color: @white;
  background-color: @green;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
