.more {
  /*future config*/
}

.more__wrapper {
  /*future config*/
}

.more__title {
  color: @black;
  font-weight: 400;
  background-color: @white;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
}

.more__list {
  list-style-type: none;
}

.more__item {
  /*future config*/

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.more__flex {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.more__name {
  color: @black-special;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.more__parameters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*future config*/
}

.more__describtion {
  color: @dark-grey;
  background-color: @white;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.more__price {
  color: @dark-grey;
  background-color: @white;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.more__link {
  color: @white;
  background-color: @green;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
