.page-form {
  width: 280px;
  padding: 0 20px;

  @media (min-width: 768px) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    padding: 0 110px;
  }
}

.page-form__title {
  color: @black;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
}

.page-form__describtion {
  color: @black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
