.page-catalog {
  width: auto;
  padding: 0 20px;

  @media (min-width: 768px) {
    width: auto;
    padding: 0 30px;
  }

  @media (min-width: 1440px) {
    width: auto;
    padding: 0 110px;
  }
}

.page-catalog__title {
  color: @black;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
