.page-footer {
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: 768px) {
    min-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    min-width: 1220px;
  }
}

.page-footer__wrapper {
  position: relative;
}

.page-footer__title {
  color: @black-invite;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 29px;
  margin-left: 20px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 25px;
    margin-top: 65px;
    margin-left: 71px;
  }

  @media (min-width: 1440px) {
    margin-left: 76px;
  }
}

.page-footer__title--grey {
  @media (min-width: 768px) {
    margin-top: 65px;
    margin-left: 71px;
  }

  @media (min-width: 1440px) {
    margin-top: 66px;
    margin-left: 76px;
  }
}

.page-footer__address {
  color: @dark-grey;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 29px;
  margin-right: 24px;
  margin-bottom: 26px;

  @media (min-width: 768px) {
    display: inline;
    font-size: 16px;
    text-align: right;
    margin-top: 63px;
    margin-right: 72px;
    margin-bottom: 58px;
  }

  @media (min-width: 1440px) {
    text-align: left;
    margin-right: 89px;
  }
}

.page-footer__address--br {
  display: none;

  @media (min-width: 768px) {
    display: inline;
  }
}

.page-footer__upper-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: 1440px) {
    position: absolute;
    width: 570px;
    background-color: @white;
    top: 96px;
    left: 110px;
  }
}

.page-footer__upper-wrap--grey {
  background-color: @grey;

  @media (min-width: 1440px) {
    background: @white;
  }
}

.page-footer__map {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 369px;
  border: none;

  @media (min-width: 768px) {
    height: 400px;
  }
}

.page-footer__bottom-wrap {
  padding-top: 32px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @grey;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 41px;
  }
}

.page-footer__shop-name-wrapper {
  @media (min-width: 768px) {
    margin-left: 30px;
    padding-top: 4px;
    display: block;
  }

  @media (min-width: 1440px) {
    margin-left: 110px;
    padding-top: 8px;
  }
}

.page-footer__shop-name-wrapper:hover {
  opacity: 0.8;
}

.page-footer__shop-name-wrapper:focus {
  opacity: 0.6;
}
