.plan{

}
.plan__list{
  list-style-type: none;
}
.plan__item{

}
.plan__input{

}
.plan__label{
  color: @black-special;
  background-color: @white;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
