.principes {
  color: @dark-grey;
  background-color: @white;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.principes__wrapper {
  /*future config*/
}

.principes__title {
  color: @black;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
}

.principes__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: 1440px) {
    flex-direction: row;
  }
}

.principes__item {
  @media (min-width: 768px) {
    height: 280px;
    min-width: 230px;
  }
  /*future config*/
}
