.programs {
  color: @dark-grey;
  background-color: @white;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.programs__wrapper {
  padding: 0 20px;
  margin-top: 24px;

  @media (min-width: 768px) {
    padding: 0 30px;
    margin-top: -160px;
  }

  @media (min-width: 1440px) {
    width: 1280px;
    margin: 0 auto;
    margin-top: 82px;
    padding-left: 91px;
  }
}

.programs__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: 1440px) {
    flex-direction: row;
  }
}

.programs__option {
  background-color: @grey;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media (min-width: 1440px) {
    height: 372px;
    width: 570px;
    justify-content: space-between;
  }
}

.programs__option:last-child {
  margin-bottom: 0;

  @media (min-width: 1440px) {
    margin-left: 80px;
  }
}

.programs__title {
  color: @black;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 29px;
  margin-left: 91px;
  position: relative;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 79px;
    margin-left: 53px;
    margin-bottom: 24px;
  }

  @media (min-width: 1440px) {
    margin-top: 77px;
    margin-left: 214px;
  }
}

.programs__title-slim::before {
  content: "";
  position: absolute;
  background-image: url("../img/slim-program-mobile.svg");
  z-index: 2;
  display: block;
  width: 50px;
  height: 53px;
  top: -10px;
  left: -69px;

  @media (min-width: 768px) {
    width: 200px;
    height: 211px;
    background-image: url("../img/slim-program-tablet.svg");
    top: 4px;
    left: 393px;
  }

  @media (min-width: 1440px) {
    width: 100px;
    height: 106px;
    background-image: url("../img/slim-program-desktop.svg");
    top: -36px;
    left: -162px;
  }
}

.programs__title-mass::before {
  content: "";
  position: absolute;
  background-image: url("../img/mass-program-mobile.svg");
  z-index: 2;
  display: block;
  width: 67px;
  height: 50px;
  top: -7px;
  left: -78px;

  @media (min-width: 768px) {
    background-image: url("../img/mass-program-tablet.svg");
    width: 268px;
    height: 200px;
    top: 12px;
    left: 359px;
  }

  @media (min-width: 1440px) {
    background-image: url("../img/mass-program-desktop.svg");
    width: 134px;
    height: 100px;
    top: -30px;
    left: -181px;
  }
}

.programs__describtion {
  margin: 0 20px;
  position: relative;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    width: 380px;
    margin-left: 52px;
  }

  @media (min-width: 1440px) {
    margin-top: 75px;
    width: 480px;
  }
}

.programs__describtion--less {
  @media (min-width: 768px) {
    width: 340px;
  }

  @media (min-width: 1440px) {
    width: 450px;
  }
}

.programs__describtion::after {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: @grey-split;
  width: 240px;
  height: 1px;
  bottom: -25px;
  left: 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.programs__link {
  text-decoration: none;
  display: inline-block;
  color: @black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 43px;
  margin-left: 19px;
  margin-bottom: 23px;
  position: relative;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 52px;
    margin-top: 52px;
    margin-bottom: 57px;
  }

  @media (min-width: 1440px) {
    margin-top: 25px;
  }
}

.programs__link:focus {
  opacity: 0.3;
}

.programs__link::after {
  content: "";
  position: absolute;
  z-index: 2;
  display: block;
  width: 18px;
  height: 2px;
  top: 6px;
  left: 102px;
  background-color: @black;

  @media (min-width: 768px) {
    top: 14px;
    left: 133px;
  }

  @media (min-width: 1440px) {
    left: 135px;
  }
}

.programs__link--arrow::after {
  left: 100px;

  @media (min-width: 768px) {
    top: 12px;
    left: 129px;
  }

  @media (min-width: 1440px) {
    top: 13px;
  }
}

.programs__link::before {
  content: "";
  position: absolute;
  display: block;
  top: 3px;
  right: -38px;
  width: 8px;
  height: 8px;
  background: linear-gradient(225deg, transparent 50%, @black 50%);
  transform: rotate(-135deg);

  @media (min-width: 768px) {
    top: 11px;
    left: 146px;
  }

  @media (min-width: 1440px) {
    left: 148px;
  }
}

.programs__link--arrow::before {
  right: -39px;

  @media (min-width: 768px) {
    top: 9px;
    left: 143px;
  }

  @media (min-width: 1440px) {
    top: 10px;
  }
}
