.shop-form {
  /*future-config*/
}

.shop-form__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 1440px) {
    flex-direction: row;
    width: 1440px;
    margin: 0 auto;
  }
}

.shop-form__data {
  /*future config*/
}

.shop-form__plan {
  /*future config*/
}

.shop-form__contacts {
  /*future config*/
}

.shop-form__comment {
  /*future config*/
}

.shop-form__additional {
  /*future config*/
}

.shop-form__submit {
  color: @white;
  background-color: @green;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  border: none;
  padding-top: 11px;
  padding-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
    width: 568px;
  }
}

.shop-form__required {
  color: @black;
  background-color: @white;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-left: 16px;
  margin-top: 21px;

  @media (min-width: 768px) {
    font-size: 16px;
    margin-left: 3px;
    margin-top: 32px;
  }
}
