.shop-form{

}
.shop-form__wrapper{

}
.shop-form__data{

}
.shop-form__plan{

}
.shop-form__contacts{

}
.shop-form__comment{

}
.shop-form__additional{

}
.shop-form__submit{
  color: @white;
  background-color: @green;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.shop-form__required{
  color: @black;
  background-color: @white;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
