.show-more {
  /*future config*/
}

.show-more__wrapper {
  /*future config*/
}

.show-more__title {
  color: @black-invite;
  font-weight: 400;
  background-color: @white;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-top: 79px;
  margin-bottom: 0;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 24px;
  }
}

.show-more__note {
  color: @dark-grey;
  background-color: @white;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 21px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    margin: 0 auto;
    margin-bottom: 85px;
  }
}

.show-more__link {
  color: @dark-grey;
  background-color: @grey-background;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  width: 280px;
  padding: 11px 0;
  padding-top: 10px;
  display: block;
  margin: 0 auto;
  position: relative;

  @media (min-width: 768px) {
    width: 250px;
  }

  @media (min-width: 1440px) {
    width: 168px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -104px;
    left: 125px;
    width: 30px;
    height: 2px;
    background-color: @plus;

    @media (min-width: 768px) {
      width: 60px;
      top: -268px;
      left: 96px;
    }

    @media (min-width: 1440px) {
      left: 54px;
    }
  }

  &::before {
    transform: rotate(90deg);
    box-shadow: none;
  }
}

.show-more__link:hover {
  background-color: @grey-line-catalog;
}

.show-more__link:focus span {
  opacity: 0.3;
}
