.social {
  /*future config*/
  margin: 0 20px;
  margin-top: 26px;
  border-top: @grey-split 1px solid;
  border-bottom: @grey-split 1px solid;
  width: 280px;

  @media (min-width: 768px) {
    border: none;
    margin: 0;
    width: 100%;
  }
}

.social__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: 768px) {
    justify-content: center;
  }
}

.social__item:nth-child(1) {
  position: relative;
  top: 8px;
  left: 73px;

  @media (min-width: 768px) {
    top: 7px;
    left: 2px;
  }
}

.social__item:nth-child(2) {
  position: relative;
  top: 9px;
  left: 109px;

  @media (min-width: 768px) {
    top: 7px;
    left: 29px;
  }
}

.social__item:nth-child(3) {
  position: relative;
  top: 5px;
  left: 142px;

  @media (min-width: 768px) {
    top: 1px;
    left: 46px;
  }
}

.social__link {
  text-decoration: none;
}

.social__link--vkontakte {
  /*future config*/
}

.social__vkontakte-img {
  @media (min-width: 768px) {
    width: 30px;
    height: 22px;
  }
}

.social__link--instagram {
  /*future config*/
}

.social__instagram-img {
  @media (min-width: 768px) {
    width: 23px;
    height: 23px;
  }
}

.social__link--facebook {
  /*future config*/
}

.social__facebook-img {
  @media (min-width: 768px) {
    width: 35px;
    height: 33px;
  }
}
